<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://js.pusher.com/8.4.0/pusher.min.js"></script>  <!--for notification-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"rel="stylesheet"/>
    <title>Admin Index</title>
  </head>
  <body>
    
    <main class="p-6 bg-gray-900  w-screen">

            <div class="bg-white-500 hover:bg-blue-800 top-1 right-6 absolute text-white text-2xl rounded-lg p-2" >
            <h1>Role: <%= role %></h1>
            </div>

            <div class="bg-gray-300 w-fit rounded-lg px-4 py-2" >
                <h1>User: <%= username %></h1>
                <p>Email: <%= email %></p>
            </div>
            <br>


            <div>
                <form action="/Sign-out" method="get" >  <!--/routes/logout-->
                    <button class="bg-red-500 hover:bg-red-800 top-15 right-8 absolute text-white text-1xl rounded-lg p-2">logout</button>
                </form>
            </div>

                

            <div id="notification"  class="hidden fixed top-4 left-150 bg-white text-red-500 px-2 py-4 rounded-lg shadow-md text-center z-50">
            
            </div>
  
            
    </main>

    <script>
        // for button show and hide
        function showPopUp(){
            const x = document.getElementById("one")
            x.classList.remove("hidden")
        }
        function hiddenPopUp(){
            const y = document.getElementById("one")
            y.classList.add("hidden")
        }

        //pusher
        Pusher.logToConsole = true;
        // obj create with (key)
        const pusher = new Pusher('62ee3b1c9692423af804', {
            cluster: 'ap1'
        });
        
        // channel subscribe
        const channel = pusher.subscribe('notification-channel');
        //channel trigger after subscribe
        channel.bind('pusher:subscription_succeeded', function () {
        // Trigger backend to send the event now
        fetch("/trigger-notification", {
            method: "POST",
            credentials: "include"
        });


        function notify(msg) {
            const el = document.getElementById("notification");
            el.innerHTML = msg;
            el.classList.remove("hidden");  // show

            setTimeout(() => {
                el.classList.add("hidden");  // hide
            }, 4000);
        }

        // event trigger
        channel.bind('notification-event', function(data) {
        notify(data.message);
        console.log("Notification received:", data);
        });

            
     });


    </script>
            
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>